app/code/Gene/BlueFoot/etc/content_types.xsd

<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="groups">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="label"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="translate" use="optional"/>
                                    <xs:attribute type="xs:byte" name="sortOrder" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="content_types">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="label"/>
                                        <xs:element type="xs:string" name="icon"/>
                                        <xs:element type="xs:string" name="component" minOccurs="0"/>
                                        <xs:element type="xs:string" name="preview_template" minOccurs="0"/>
                                        <xs:element type="xs:string" name="render_template" minOccurs="0"/>
                                        <xs:element type="xs:string" name="preview_component" minOccurs="0"/>
                                        <xs:element type="xs:string" name="form"/>
                                        <xs:element type="xs:string" name="group"/>
                                        <xs:element type="xs:string" name="allowed_children" minOccurs="0"/>
                                        <xs:element name="readers" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="reader" type="reader" maxOccurs="unbounded" minOccurs="1"/>
                                               </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="translate" use="optional"/>
                                    <xs:attribute type="xs:byte" name="sortOrder" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="reader">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="component" use="required"/>
    </xs:complexType>
</xs:schema>